.body{
    background-color: rgb(240, 240, 85);
}
.interface{
    width: 400px;
    background-color: aliceblue;
    border: 5px solid rgb(69, 28, 28);
    margin: 200px;
    margin-left: 450px;
    padding-bottom: 20px;
    padding-top: 20px;
}
#counter{
    font-size: 9rem;
}