.body{
    background-color: rgb(240, 240, 85);
}
.interface{
    width: 400px;
    background-color: aliceblue;
    border: 5px solid rgb(69, 28, 28);
    margin-top: 200px;
    /* margin: 200px;
    margin-left: 450px;
    padding-bottom: 20px;
    padding-top: 20px; */
}
.container{
    display: flex;
     justify-content: center;
    align-items: center;
}
#counter{
    font-size: 9rem;
}